.button {
  $color: $blue;

  padding: 15px 45px 13px 45px;
  border-radius: 999em;
  border: 2px solid $color!important;
  background: transparent;
  outline: none;
  color: $foreground;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
  user-select: none;

  @include transition(linear 0.2s background-color);
  &:hover {
    background-color: $color;
  }

  &-light {
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
    @include transition(linear 0.2s color);
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;

    &:hover {
      color: $foreground;
    }
  }
}
