@import 'colors';
@import 'fonts';
@import 'responsive';
@import 'transition';
@import 'section';
@import 'button';

@mixin noSelect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  //background: $background !important;
  //color: $foreground !important;
  @include font;
  height: 100%;
  @include linearGradient(-135deg, $darkBlue, $black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

}

body {
  height: 100%;
  position: relative;
  @include font;

  // @include radialGradient(top right, $blue, $black);

}

strong {
  color: $foreground;
  font-weight: normal;
}

p.small {
  // font-size: 0.8em;
}



.welcome {
  position: relative;
  // min-height: 100%;

  &-background {
    // background: url('/img/eye.png');
    // background-size: contain;
    // background-position: center center;
    // background-repeat: no-repeat;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.09;
    z-index: 10;
    // box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;

  }

  &-title {
    position: relative;
    color: $foreground;
    @include fontTitle;
    font-size: 8em;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  &-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;

    &-title {
      position: relative;
      top: 690px;
    }
  }

  &-subtitle {
    @include fontTitle;
    color: $foreground;
    margin: 0;
    padding: 0;
    font-size: 1.9em;
    font-weight: normal;
  }

  &-button {
    margin-top: 30px;
  }

  &-center {
    text-align: center;
  }

  &-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 10000;





    text-align: center;



    &-center {
      position: relative;
      z-index: 10000;
      cursor: pointer;
      display: inline-block;
      @include fontTitle;
      color: $foreground;
      font-size: 0.9em;

      opacity: 0.5;
      @include transition(opacity linear 0.2s);

      &:hover {
        opacity: 1;
      }

      &-hide {
        opacity: 0;
      }

      &-title {

      }

      &-icon {
        line-height: 0em;
        font-size: 2em;
      }
    }


  }
}

.technologies {
  // height: 75%;
  //
  &-left {
    position: relative;
    overflow: hidden;
    &-content {
      position: relative;
      top: 0;
      right: 100%;
    }
  }
  &-right {
    position: relative;
    // height: 100%;
    height: 500px;
    overflow: hidden;

    &-background {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: url('/img/crowd.png');
      background-size: cover;
    }
  }
}

.techmind {
  position: relative;
  &-center {
    position: relative;
    max-width: 700px;
    top: 800px;
    opacity: 0;
    // font-size: 0.9em;
    strong {
      color: $foreground;
    }
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.accessible {
  &-right {
    position: relative;
    overflow: hidden;
    &-content {
      position: relative;
      top: 0;
      left: 100%;
    }
  }

  &-left {
    justify-content: center;
  }

  &-schema {
    // height: 400px;
    // width: 400px;
  }
}

.reliable {
  &-left {
    position: relative;
    overflow: hidden;
    &-content {
      position: relative;
      top: 0;
      right: 100%;
    }
  }

  &-right {
    justify-content: center;
  }
}

.articles {

  &-center {
    padding: 0px!important;
    padding-top: 20px!important;
  }

  &-subscribe {
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0);
    @include transition(background-color linear 0.3s);

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
      opacity: 0;
      $arg: opacity linear 0.3s, color linear 0.3s, transform linear 0.1s;
      @include transition($arg);
      font-size: 1.3em;
      color: $foreground_hue2;
      cursor: pointer;
      z-index: 100;
      transform: rotate(0deg);

      &:hover {
        color: $foreground;
        transform: rotate(90deg);
      }
    }


    &.activated {
      background-color: darken($darkBlue, 7%);
      z-index: 20;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.activated &-close {
      display: block;
      opacity: 1;
    }
  }

  &-feedback {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    opacity: 0;

    @include transition(opacity linear 0.5s);


    &.show {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }

    p {
      flex: 0 0 300px;
      text-align: center;

      color: $foreground;
      font-size: 1.3em;
    }
  }

  &-list {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: row;
      padding-top: 30px;
      position: relative;

      &.hide {
        visibility: hidden;
      }
  }

  &-item {
    position: relative;
    z-index: 5;
    opacity: 1;
    $arg: opacity linear 0.5s, flex-basis linear 0.5s;
    @include transition($arg);
    overflow: hidden;

    &-form {
      font-size: 0.6em;
      flex: 0 0 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      opacity: 0;

      $arg: opacity linear 0.5s, flex-basis linear 0.5s;
      @include transition($arg);

      &.activated {
        flex-basis: 300px;
      }

      &.show {
        opacity: 1;
      }

      &-content {
        flex: 0 0 320px;
        width: 320px;
        box-sizing: border-box;
        text-align: left;
        padding: 10px;

        .button {
          margin-top: 20px;
        }

        .input, .textarea {
          border: 2px solid $foreground_hue2;
          border-radius: 4px;
          background: transparent;
          @include fontTitle;
          resize: none;
          display: block;
          box-sizing: border-box;
          padding: 10px;
          margin-top: 20px;
          color: white;
          width: 100%;
          outline: none;
          background: rgba(0, 0, 0, 0.2);
          @include transition(background linear 0.5s);

          &:focus {
            background: rgba(0, 0, 0, 0.4);
          }
        }

        .input {
          &.wrong {
            border-color: red;
          }
        }

        .checkbox {
          margin-top: 20px;
          color: $foreground;
          font-weight: normal;
          font-size: 0.9em;
          cursor: pointer;
          &-box {
            border: 2px solid $foreground;
            display: inline-block;
            $width: 10px;
            width: $width;
            height: $width;
            display: inline-block;
            margin-right: 5px;

            background: transparent;
            @include transition(background linear 0.5s);

            &.activated {
              background: $foreground;
            }
          }
        }

        .textarea {
          height: 100px;
        }

      }

      // &.activator
      &-separator {
        margin: 0px 20px;
        width: 30px;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
        background: $blue_hue1;
      }
    }

    &.activated {
      z-index: 30;
      // position: fixed;
    }
    &.hiding {
      opacity: 0;
    }

    &.hide {
      flex-basis: 0px;
      // margin-left: 0px;
      // margin-right: 0px;
    }

    // border: 1px solid $foreground;

    $height: 500px;
    height: $height;
    color: $foreground_hue2;
    padding: 0px;


    flex: 0 1 330px;

    &-margin {
      margin: 0px 30px;
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    }

    &-content {
      box-sizing: border-box;
      padding: 30px;
      height: $height;

      background: rgba(0, 0, 0, 0);
      @include transition(linear background-color 0.3s);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 0.9em;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    &:not(.activated) &-content {
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    &-title {
      font-weight: normal;
      color: $foreground;
      text-transform: uppercase;
      @include font;
    }

    &-1 {
      background: url('/img/blockchain.png');
      background-size: cover;
      background-position: center center;
    }

    &-2 {
      background: url('/img/sans-contact-carte-bleue.jpg');
      background-size: cover;
      background-position: center center;
    }

    &-3 {
      background: url('/img/machine-learning.jpg');
      background-size: cover;
      background-position: center center;
    }
  }
}

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  color: $foreground;
  // text-transform: uppercase;
  text-align: center;
}
